extends: default

ignore: |
  node_modules/
  resources/
  public/
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml

yaml-files:
  - "*.yaml"
  - "*.yml"
  - ".yamllint"

rules:
  line-length: disable
  braces:
    max-spaces-inside: 1
  indentation:
    spaces: consistent
  document-start: disable
